.level {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.recAddress {
  display: flex;
  color: #4c545f;
  font-size: 12px;
}
.btn {
  width: 100px;
  text-wrap: nowrap;
  font-size: 14px;
  text-align: right
}